body{
    background-color: rgb(59, 70, 121);
    height: 100vh;
    width: 100%;
    color: rgb(155, 164, 211) ;
    
}

pre{
    
    color: rgb(17, 34, 48);
    background-color: rgb(84, 97, 171);
    
    width: 40%;
    border-radius: 11px;
    padding: 9px;
}
